MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=ai4note
MYSQL_USER=ai4note
MYSQL_PASSWORD=ai4note123
MYSQL_PORT=3306

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ai4note
DB_USERNAME=ai4note
DB_PASSWORD=ai4note123

AI4NOTE_STORAGE_ROOT=../storage

